name: Iceberg Tests
on:
  workflow_call:

env:
  DEFAULT_PYTHON: '3.13'

jobs:
  tests:
    name: Run Iceberg tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Start Iceberg
        run: |
          docker compose -f docker-compose.test.yml --profile all down -v --remove-orphans
          docker compose -f docker-compose.test.yml --profile iceberg up -d db rabbitmq horizon test-iceberg-rest

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Worker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: mtsrus/syncmaster-worker:${{ github.sha }}
          target: test
          file: docker/Dockerfile.worker
          load: true
          cache-from: type=gha,scope=test

      - name: Start worker
        run: |
          docker compose -f docker-compose.test.yml --profile iceberg up -d --wait --wait-timeout 200
        env:
          WORKER_IMAGE_TAG: ${{ github.sha }}

      - name: Run Iceberg Tests
        run: |
          docker compose -f ./docker-compose.test.yml --profile iceberg exec -T worker coverage run -m pytest -vvv -s -m "worker and iceberg"

      - name: Dump worker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
        with:
          images: bitnamilegacy/minio,mtsrus/syncmaster-worker,mtsrus/horizon-backend,postgres,rabbitmq
          dest: ./logs

      # This is important, as coverage is exported after receiving SIGTERM
      - name: Shutdown
        if: always()
        run: |
          docker compose -f docker-compose.test.yml --profile all down -v --remove-orphans

      - name: Upload worker logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: worker-logs-iceberg
          path: logs/*

      - name: Upload coverage results
        uses: actions/upload-artifact@v6
        with:
          name: coverage-iceberg
          path: reports/*
          # https://github.com/actions/upload-artifact/issues/602
          include-hidden-files: true
