name: Scheduler docker image

on:
  push:
    branches:
      - develop
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  DEFAULT_PYTHON: '3.13'

jobs:
  release:
    name: Build & push scheduler image to Dockerhub
    runs-on: ubuntu-latest
    if: github.repository == 'MobileTeleSystems/syncmaster'  # prevent running on forks

    permissions:
      contents: read

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Get version
        id: get_version
        run: |
          echo "VERSION=$(cat syncmaster/VERSION)" >> $GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: mtsrus/syncmaster-scheduler
          labels: |
            org.opencontainers.image.title=SyncMaster Scheduler
            org.opencontainers.image.vendor=MTS PJSC
            org.opencontainers.image.documentation=https://syncmaster.readthedocs.io
            org.opencontainers.image.url=https://hub.docker.com/r/mtsrus/syncmaster-worker
            org.opencontainers.image.authors=MWS Data Bridge <onetools@mts.ru>
            org.opencontainers.image.version=${{ env.VERSION }}

      - name: Set platforms
        id: set_platforms
        run: |
          # Building krb5 on ARM is time consuming, do this only at release
          if [[ "${{ github.ref_type }}" == "branch" && "${{ github.ref_name }}" == "develop" ]]; then
            echo "PLATFORMS=linux/amd64" >> $GITHUB_ENV
          elif [[ "${{ github.ref_type }}" == "tag" ]]; then
            echo "PLATFORMS=linux/amd64,linux/arm64/v8" >> $GITHUB_ENV
          fi

      # https://github.com/docker/buildx/discussions/1283#discussioncomment-5447590
      - name: Docker mount cache
        uses: actions/cache@v5
        id: docker-mount-cache
        with:
          key: docker-cache-scheduler-${{ hashFiles('docker/Dockerfile.worker', 'pyproject.toml', 'uv.lock') }}
          path: docker-cache-uv
          restore-keys: |
            docker-cache-scheduler-${{ hashFiles('docker/Dockerfile.worker', 'pyproject.toml', 'uv.lock') }}
            docker-cache-scheduler-

      - name: Restore Docker cache mounts
        uses: reproducible-containers/buildkit-cache-dance@v3
        with:
          builder: ${{ steps.setup-buildx.outputs.name }}
          cache-map: |
            {
              "docker-cache-uv": "/root/.cache/uv"
            }
          skip-extraction: ${{ steps.docker-mount-cache.outputs.cache-hit }}

      - name: Build scheduler image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: prod
          file: docker/Dockerfile.scheduler
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          pull: true
          push: true
          cache-to: type=gha,mode=max,scope=scheduler
          cache-from: type=gha,scope=scheduler
          platforms: ${{ env.PLATFORMS }}
          provenance: mode=max
          sbom: true

      - name: Convert README to Markdown
        uses: docker://pandoc/core:2.9
        with:
          args: >-
            --output=README.md
            --from=rst
            --to=gfm
            --wrap=none
            README.rst

      - name: Update DockerHub Description
        uses: peter-evans/dockerhub-description@v5
        if: github.ref_type == 'tag'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          # this requires token with read+write+delete permissions. read+write is not enough!
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: mtsrus/syncmaster-scheduler
          short-description: ${{ github.event.repository.description }} (Scheduler)
          enable-url-completion: true
