name: Unit Tests
on:
  workflow_call:

env:
  DEFAULT_PYTHON: '3.13'

jobs:
  tests:
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Start db
        run: |
          docker compose -f docker-compose.test.yml --profile all down -v --remove-orphans
          docker compose -f docker-compose.test.yml up -d db

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Install system dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get install -y --no-install-recommends \
            openjdk-17-jdk-headless \
            gcc \
            make \
            libffi-dev \
            libkrb5-dev \
            curl

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: 'false'

      # astral-sh/setup-uv cannot restore multiple keys
      - name: Cache uv
        uses: actions/cache@v5
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-test-${{ hashFiles('uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ hashFiles('uv.lock') }}
            ${{ runner.os }}-test-

      - name: Install dependencies
        run: |
          uv sync --frozen --extra "server" --extra "scheduler" --group test

      - name: Wait for db
        run: |
          docker compose -f docker-compose.test.yml up -d db --wait --wait-timeout 200

      - name: Run Unit Tests
        run: |
          source .env.local.test
          uv run coverage run -m pytest -vvv -s tests/test_unit tests/test_database --junitxml=reports/junit/${GITHUB_RUN_ID}.xml

      - name: Dump worker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
        with:
          images: postgres,rabbitmq
          dest: ./logs

      - name: Shutdown
        if: always()
        run: |
          docker compose -f docker-compose.test.yml down -v --remove-orphans

      - name: Upload worker logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: container-logs-unit
          path: logs/*

      - name: Upload coverage results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: coverage-unit
          path: reports/*
          # https://github.com/actions/upload-artifact/issues/602
          include-hidden-files: true
